.idea
*.iws
/out/
*.DS_Store
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints
*.sage.py
.env
.env_tmp
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
data
.vscode/
.pytest_cache/
.coverage
dump
data
test1
test2
app/
datalake/
gcs/